
a {
	color: #620637;
	letter-spacing: 2px;
}

a:link,
a:active,
a:hover {
	text-decoration: none;
	color: #CDB0BF;
}

img {
	width: 100%;
}

#portfolio {
	width: 400px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #888888;
}

#rowunder {
	background-color: #620637;
	border-radius: 5px;
	height: 254px;
	box-shadow: 1px 1px 3px #888888;
}

.whatido {
	height: 100px;
	width: 100px;
}

.whatidoicons {
	margin-left: 75px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #915174;
}

h2 {
	font-family: 'Raleway', sans-serif;
	color: #915174;
	margin-top: 40px;
	margin-left: 90px;
}

h5 {
	font-family: 'Raleway', sans-serif;
	color: #915174;
}

#footer {
	margin:0;
	font-family: 'Raleway', sans-serif;
	color: #915174;
	font-size: 20px;
	border-top: 2px solid 
}

.sociallinks {
	height: 30px;
	width: 30px;
}

.formlbl {
	letter-spacing: normal;
	font-family: 'Raleway', sans-serif;
}

.portpics {
	border-radius: 5px;
	box-shadow: 1px 1px 3px #888888;
	position: relative;
    max-width: 100%; 
}

/* Portfolio picture hover effects*/

.project-overlay {
    position: absolute;
    top: 0;
    width: 350px;
    height: 100%;
    color: #fff;
    border-radius: 5px;
    opacity: 0;
  	transition: .5s ease;
    background-color: #FFF9FC;
}

.imgcontainer:hover .project-overlay {
  opacity: 1;
}
